<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment5_Database</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>



<body>
    @*this is the common layout with bootstrap implemented*@
    <div class="bg-primary text-md-center text-light p-2">
        @*I change the color to be blue and make the text in the middle as one of the extra bootstrap elements for this assignment*@

        <span class="navbar-brand ml-2">BOOK STORE</span>
    </div>
    <div class="row m-1 p-1">
        @*implementing some bootstrap through calling class*@
        <div id="blah" class="col-3">
            <h1>This is an Awesome Bookstore</h1>
            <vc:navigation-menu/>
        </div>
        <div class="col-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>
