@{
    ViewData["Title"] = "Bookstore";
}

@model BookListViewModel




@*Looping through each column in the database and output data + Bootstrap on the Index page*@



@foreach (var x in Model.Books)
{
 <partial name="BookSummary" model="x" />
}

@*this is to build the pagination at the bottom of the page*@

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-danger"  page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>
@*i change the color of button to red with btn danger*@ 